{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'duelists/css/duelists.css' %}">
{% endblock %}

{% block 'dashboard' %}
<div class="container">
    <div class="row">

        <div class="col-md card-dashboard">
            <p class="text-card">Adicionar Duelistas</p>
        </div>

        <div class="col-md card-dashboard">
            <p class="text-card">Atualizar Duelistas</p>
        </div>

    </div>

    <div class="adicionar-cliente">
        <form action="{% url 'duelists' %}" method="POST">{% csrf_token %}
            <div class ="row">
                <div class="col-md">
                    <p>Nome:</p>
                    <input type="text" class="form-control" placeholder="Nome Completo" name="name" value="{{ name }}">
                </div>
                <div class="col-md">
                    <p>Apelido:</p>
                    <input type="text" class="form-control" placeholder="Apelido" name = "nickname" value="{{ nickname }}">
                </div>
            </div>
            <br>
            <p>E-mail:</p>
            <input type="email" class="form-control" placeholder="nome@email.com" name="email" value="{{ email }}">
            <br>
            <div class ="row">
                <div class="col-md">
                    <p>CossyId:</p>
                    <input type="text" class="form-control" placeholder="__________" name="cossyId" value="{{ cossyId }}">
                </div>
                <div class="col-md">
                    <p>Número de Telefone:</p>
                    <input type="text" class="form-control" placeholder="(__)9____-____" name="contact_number" value="{{ contact_number }}">
                </div>
            </div>
            <hr style="background-color:gray;">
            <div class="add-deck">
                <h3>Decks</h3>
                <span class="btn-add-decks" onclick="add_deck()">+ Adicionar um deck</span>
  
                <div id="form-deck">
                    {% for deck, ydkcode, year in decks%}
                    <br>
                    <div class="row">
                        <div class="col-md">
                            <input type='text' placeholder='deck' class='form-control' name='deck' value="{{deck}}">
                        </div>

                        <div class="col-md">
                            <input type='text' placeholder='ydkcode' class='form-control' name='ydkcode' value="{{ydkcode}}">
                        </div>

                        <div class="col-md">
                            <input type='number' placeholder='ano' class='form-control' name='year' value="{{year}}">
                        </div>

                    </div>
            {% endfor%}
                </div>
  
            </div>
  
            <br>
            <input type="submit" value="Cadastrar" class="btn-principal">
  
        </form>
        
    </div>
</div>
<script src ="{% static 'duelists/js/duelists.js' %}"></script>

{% endblock %}